body {
	font-family: Arial, sans-serif;
	text-align: center;
}

#location {
	padding: 10px;
	font-size: 18px;
}

#get-weather {
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
}

#weather-data {
	margin-top: 20px;
}
